<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición de Traducciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='ico.png') }}" type="image/x-icon">

</head>
<body>
<h1 style="text-align: center;">Edición de Traducciones</h1>
<div style="text-align: center; margin-bottom: 20px; position: sticky; top: 0; background-color: white; z-index: 1000;">
    <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Buscar...">
    <div>
        <input type="checkbox" id="filterValids" onclick="filterRows()">
        <label for"filterValids">Filtrar validos</label>
    </div>
</div>

<form id="editForm">
    <table>
        <thead
            <tr>
                <th>Texto Original (GL)</th>
                <th>Traducción (ES)</th>
                <th>Valido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <input type="text" id="searchWord1" placeholder="Buscar palabra...">
                        <input type="text" id="replaceWord1" placeholder="Reemplazar con...">
                        <button type="button" onclick="replaceWordFunction('searchWord1', 'replaceWord1', 'column1')">Reemplazar</button>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" id="searchWord2" placeholder="Buscar palabra...">
                        <input type="text" id="replaceWord2" placeholder="Reemplazar con...">
                        <button type="button" onclick="replaceWordFunction('searchWord2', 'replaceWord2', 'column2')">Reemplazar</button>
                    </div>
                </td>
                <td>
                    <div>
                    </div>
                </td>
            </tr>
            {% for row in texts %}
            {% if row['Source_language'] and row['Target_language'] %}
            <tr data-index={{ row.index }}>
            <!-- Campo oculto para enviar el índice al backend -->
            <input type="hidden" name="index" value="{{ row.index }}">
            <td class="texto">

                <div>
                    <a href="{{ url_for('edit_text', index=row.index, column='Source_language') }}">
                        <button type="button">Editar</button>
                    </a>
                    
                    <button type="button" onclick="translateText('{{ row.index }}', 'Source_language')">Traducir</button>
                </div>
                    
                <div class="column1" name="original_text" style="border: 2px solid;" contenteditable="true">{{ row['Source_language']|safe }}</div>
            </td>


            <td class="texto">
                <div>
                    <a href="{{ url_for('edit_text', index=row.index, column='Target_language') }}">
                        <button type="button">Editar</button>
                    </a>
                    
                    <button type="button" onclick="translateText('{{ row.index }}', 'Target_language')">Traducir</button>
                </div>

                <div class="column2" name="translated_text" style="border: 2px solid;" contenteditable="true">{{ row['Target_language']|safe }}</div>
            </td>

            <td>
                <div>
                    <input type="checkbox" onclick="checkFilterValids()" name="check_translate_{{ row.index }}" {% if row['check'] %}checked{% endif %}>
                </div>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center; position: sticky; bottom: 0; background-color: white; z-index: 1000;">
        <button type="button" onclick="saveChanges()">Guardar Cambios</button>
        <button type="button" onclick="saveOriginalColumns()">Guardar original</button>
    </div>
</form>
<script src="{{ url_for('static', filename='index.js') }}"></script>

</body>
</html>
